.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* ✅ 陰影 */
  }
  
  .nav-link {
    display: flex;
    justify-content: right;
    flex: 1;
    gap: 30px;
    width: 60px;
    height: 20px;
  }
  
  .nav-link a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding:15px; /* 左右 padding */
    font-weight: bold;
  }
  
  .nav-link a:hover {
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: white;
  }
  
  .nav-bar span{
    font-size: 27px;
    font-weight: bold;
    color: #007bff;
  }
  
  h1 {
    text-align: center;
    margin: 10px 0;
  }

  #menu-toggle{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  #sidebar {
    position: fixed;
    top: 0;
    left: -270px; /* 完全隱藏 */
    width: 220px;
    height: 100vh;
    background-color: #0367d1;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    transition: left 0.3s ease;
  
  }
  
  .menu-divider {
    border: none;
    height: 1px;
    background-color: white;     /* 顏色依背景調整 */
    opacity: 0.4;                 /* 稍微透明更柔和 */
    margin: 4px 0 ;           /* 上下間距 */
  }
  
  
  #sidebar.active {
    left: 0;
  }
  
  /* 關閉按鈕 */
  #close-sidebar {
    align-self: flex-end;
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
  }
  
  /* 側邊欄連結 */
  #sidebar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
  }
  
  /*新增*/
  .loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
  }
  