{% extends "base.html" %}

{% block title %}所有貼文{% endblock %}

{% block content %}
<h1 class="page-title">所有貼文</h1>

<!-- 搜尋表單 -->
<form action="{{ url_for('post.search') }}" method="GET" class="search-form">
    <input type="text" name="keyword" placeholder="搜尋貼文" value="{{ keyword }}">
    <button type="submit">搜尋</button>
</form>

<!-- 新增貼文按鈕 -->
<div class="button-wrapper">
    <a href="{{ url_for('post.new_post') }}" class="sent">新增貼文</a>
</div>

{% if posts %}
    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.content }}</p>
            <p class="card-user">發文者：{{ post['user_name'] }}</p>
            <p class="card-hashtag">
                分類：
                {% if post['hashtag_name'] %}
                  <span class="tag-chip">{{ post['hashtag_name'] }}</span>
                {% else %}
                  <span class="tag-chip tag-null">未分類</span>
                {% endif %}
              </p>
              
            <!-- 使用者頭像 -->
            <img src="{{ url_for('static', filename=post['file_path'].split('static/')[-1]) if post['file_path'] else url_for('static', filename='images/avatar.png') }}"
                alt="使用者頭像" class="user-avatar">

            <p class="card-time">
                發佈時間：{{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
            </p>
            {% if session.get('role') == 'M' %}
            <div class="card-buttons">
                <form action="{{ url_for('post.delete_post', post_id=post['post_id']) }}" method="POST" class="d-inline">
                    <input type="hidden" name="next" value="index">
                    <button type="submit" class="btn-delete" onclick="return confirm('確定要刪除這篇文章嗎？')">刪除</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% else %}
    <p class="no-posts">目前尚無貼文。</p>
{% endif %}
{% endblock %}
