<!DOCTYPE html>
<html>
  <head>
    <title>登入頁面</title>
  </head>
  <body>
    <h2>請註冊</h2>
    <div>
      <form action="/register" method="POST">
        <div>
          <label>Email:</label>
          <input type="text" name="account" /><br />
        </div>
        <div>
          <label>密碼:</label>
          <input type="password" name="password" /><br />
        </div>
        <div>
          <label>使用者姓名</label>
          <input type="text" name="name" /><br />
        </div>
        <input type="submit" value="註冊" />
      </form>
    </div>
  </body>
</html>
